* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: #fff;
}

.logo-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px; /* Ajustar margen superior para dejar espacio al menú */
    margin-bottom: 10px;
}

.logo-title-container img {
    width: 80px;
    height: 70px;
    margin-bottom: 10px;
}
img{
    width: 140px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
    transition: all .3s;
  }
#agrupar {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centramos el contenido horizontalmente */
}

#cabecera {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
    background-color: #000; /* Fondo del menú */
}

.navbar {
    display: flex;
    justify-content: center;
}

.menu .navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu .navbar ul li a:hover {
    color: #db241b;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
    text-decoration: none;
}

#columna {
    display: flex;
    flex-direction: column; /* Cambiamos a dirección de columna para dispositivos más pequeños */
    align-items: center; /* Centramos el contenido horizontalmente */
    margin: 20px;
    padding: 20px;
    text-align: center; /* Centramos el texto */
}

#columna h1 {
    color: white;
    margin-bottom: 10px;
    font-size: 24px; /* Aumentamos el tamaño del título para dispositivos más pequeños */
}

#columna .contenido {
    display: flex;
    flex-direction: row; /* Establecemos dirección de fila para la imagen y el texto */
    justify-content: center; /* Centramos horizontalmente */
    align-items: flex-start; /* Alineamos el contenido arriba */
}

#columna .contenido img {
    width: 100%; /* Hacemos que la imagen ocupe todo el ancho disponible */
    max-width: 400px; /* Establecemos un ancho máximo para la imagen */
    height: auto;
    margin-bottom: 30px;
}

h2 {
    color: white;
    font-style: italic;
    font-size: 18px; /* Ajustamos el tamaño del subtítulo para dispositivos más pequeños */
    margin-bottom: 5px;
}

article {
    padding-bottom: 10px;
    font-style: italic;
    font-size: 16px; /* Ajustamos el tamaño del contenido para dispositivos más pequeños */
    color: white;
    text-align: justify; /* Justificamos el texto */
    border-left: 2px solid #db241b; /* Borde izquierdo rojo */
    border-right: 2px solid #db241b; /* Borde derecho rojo */
    border-top: 2px solid #db241b; /* Borde superior rojo */
    border-bottom: 2px solid #db241b; /* Borde inferior rojo */
}

li {
    list-style: none;
}

.texto {
    padding: 0 17px; /* Agregamos un espacio entre la imagen y el texto */
    border: 2px solid #db241b; /* Agregamos un borde rojo alrededor del texto */
    border-radius: 8px; /* Agregamos bordes redondeados */
    margin-bottom: 20px; /* Añadimos un margen inferior para separar del siguiente contenido */
    text-align: left;
    margin-left: 10px;
}

