USE [ClinicaVeterinaria]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 06/08/2025 22:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[persona_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[tipo_persona] [char](1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[direccion] [varchar](200) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[fecha_registro] [datetime] NULL,
	[foto] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[persona_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[personal_id] [int] IDENTITY(1,1) NOT NULL,
	[persona_id] [int] NOT NULL,
	[fecha_contratacion] [date] NOT NULL,
	[tipo_personal] [varchar](20) NOT NULL,
	[especialidad] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[personal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[animal_id] [int] IDENTITY(1,1) NOT NULL,
	[persona_id] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[edad] [int] NULL,
	[fecha_registro] [datetime] NULL,
	[raza] [varchar](50) NULL,
	[peso] [decimal](5, 2) NULL,
	[foto] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[animal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnostico]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnostico](
	[diagnostico_id] [int] IDENTITY(1,1) NOT NULL,
	[animal_id] [int] NOT NULL,
	[personal_id] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[descripcion] [varchar](max) NOT NULL,
	[tratamiento] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagnostico_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_HistorialMedico]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Luego crea la vista con CREATE VIEW
CREATE VIEW [dbo].[vw_HistorialMedico] AS
SELECT TOP 100 PERCENT
       a.nombre AS mascota, a.tipo, a.raza,
       d.fecha, d.descripcion, d.tratamiento,
       p.nombre + ' ' + p.apellidos AS veterinario,
       cli.nombre + ' ' + cli.apellidos AS dueno
FROM Diagnostico d
JOIN Animal a ON d.animal_id = a.animal_id
JOIN Personal per ON d.personal_id = per.personal_id
JOIN Persona p ON per.persona_id = p.persona_id
JOIN Persona cli ON a.persona_id = cli.persona_id
ORDER BY d.fecha DESC;
GO
/****** Object:  Table [dbo].[Fisica]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fisica](
	[fisica_id] [int] NOT NULL,
	[DNI] [varchar](20) NOT NULL,
	[fecha_nacimiento] [date] NULL,
	[genero] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[fisica_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Juridica]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juridica](
	[juridica_id] [int] NOT NULL,
	[CIF] [varchar](20) NOT NULL,
	[razon_social] [varchar](100) NOT NULL,
	[fecha_constitucion] [date] NULL,
	[actividad_principal] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[juridica_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ClientesConMascotas]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ClientesConMascotas] AS
SELECT 
    p.persona_id, 
    p.nombre, 
    p.apellidos,
    CASE 
        WHEN p.tipo_persona = 'F' THEN f.DNI
        WHEN p.tipo_persona = 'J' THEN j.CIF
        ELSE NULL
    END AS Identificacion,
    p.email, 
    p.telefono,
    COUNT(a.animal_id) AS cantidad_mascotas
FROM 
    Persona p
LEFT JOIN 
    Fisica f ON p.persona_id = f.fisica_id AND p.tipo_persona = 'F'
LEFT JOIN 
    Juridica j ON p.persona_id = j.juridica_id AND p.tipo_persona = 'J'
LEFT JOIN 
    Animal a ON p.persona_id = a.persona_id
GROUP BY 
    p.persona_id, 
    p.nombre, 
    p.apellidos,
    p.email, 
    p.telefono,
    p.tipo_persona,
    f.DNI,
    j.CIF;
GO
/****** Object:  Table [dbo].[ElementoFactura]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElementoFactura](
	[elemento_id] [int] IDENTITY(1,1) NOT NULL,
	[elemento] [varchar](100) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[cantidad] [int] NOT NULL,
	[descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[elemento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[factura_id] [int] IDENTITY(1,1) NOT NULL,
	[persona_id] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[factura_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacturaDetalle]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturaDetalle](
	[detalle_id] [int] IDENTITY(1,1) NOT NULL,
	[factura_id] [int] NOT NULL,
	[elemento_id] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[detalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Animal] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Diagnostico] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[ElementoFactura] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[FacturaDetalle] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[Persona] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD FOREIGN KEY([persona_id])
REFERENCES [dbo].[Persona] ([persona_id])
GO
ALTER TABLE [dbo].[Diagnostico]  WITH CHECK ADD FOREIGN KEY([animal_id])
REFERENCES [dbo].[Animal] ([animal_id])
GO
ALTER TABLE [dbo].[Diagnostico]  WITH CHECK ADD FOREIGN KEY([personal_id])
REFERENCES [dbo].[Personal] ([personal_id])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([persona_id])
REFERENCES [dbo].[Persona] ([persona_id])
GO
ALTER TABLE [dbo].[FacturaDetalle]  WITH CHECK ADD FOREIGN KEY([elemento_id])
REFERENCES [dbo].[ElementoFactura] ([elemento_id])
GO
ALTER TABLE [dbo].[FacturaDetalle]  WITH CHECK ADD FOREIGN KEY([factura_id])
REFERENCES [dbo].[Factura] ([factura_id])
GO
ALTER TABLE [dbo].[Fisica]  WITH CHECK ADD FOREIGN KEY([fisica_id])
REFERENCES [dbo].[Persona] ([persona_id])
GO
ALTER TABLE [dbo].[Juridica]  WITH CHECK ADD FOREIGN KEY([juridica_id])
REFERENCES [dbo].[Persona] ([persona_id])
GO
ALTER TABLE [dbo].[Personal]  WITH CHECK ADD FOREIGN KEY([persona_id])
REFERENCES [dbo].[Persona] ([persona_id])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD CHECK  (([estado]='Cancelada' OR [estado]='Pagada' OR [estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Fisica]  WITH CHECK ADD CHECK  (([genero]='O' OR [genero]='F' OR [genero]='M'))
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD CHECK  (([tipo_persona]='J' OR [tipo_persona]='F'))
GO
ALTER TABLE [dbo].[Personal]  WITH CHECK ADD CHECK  (([tipo_personal]='Auxiliar' OR [tipo_personal]='Veterinario'))
GO
/****** Object:  StoredProcedure [dbo].[spAgregar_DetalleFactura]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAgregar_DetalleFactura]
    @factura_id INT,
    @elemento_id INT,
    @cantidad INT = 1
AS
BEGIN
    DECLARE @precio DECIMAL(10,2);
    
    SELECT @precio = precio FROM ElementoFactura WHERE elemento_id = @elemento_id;
    
    INSERT INTO FacturaDetalle (factura_id, elemento_id, cantidad, precio_unitario)
    VALUES (@factura_id, @elemento_id, @cantidad, @precio);
END
GO
/****** Object:  StoredProcedure [dbo].[spAgregar_ElementoFactura]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAgregar_ElementoFactura]
    @elemento VARCHAR(100),
    @precio DECIMAL(10,2),
    @descripcion VARCHAR(200) = NULL,
    @elemento_id INT OUTPUT
AS
BEGIN
    INSERT INTO ElementoFactura (elemento, precio, descripcion)
    VALUES (@elemento, @precio, @descripcion);
    
    SET @elemento_id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[spBuscar_Persona_CIF]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para buscar persona jurídica por CIF
CREATE PROCEDURE [dbo].[spBuscar_Persona_CIF]
    @textobuscar VARCHAR(20)
AS
BEGIN
    SELECT 
        p.persona_id,
        p.nombre,
        p.apellidos,
        p.email,
        p.direccion,
        p.telefono,
        j.CIF,
        j.razon_social,
        j.fecha_constitucion,
        j.actividad_principal
    FROM Persona p
    JOIN Juridica j ON p.persona_id = j.juridica_id
    WHERE j.CIF LIKE '%' + @textobuscar + '%';
END
GO
/****** Object:  StoredProcedure [dbo].[spBuscar_Persona_DNI]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para buscar persona física por DNI
CREATE PROCEDURE [dbo].[spBuscar_Persona_DNI]
    @textobuscar VARCHAR(20)
AS
BEGIN
    SELECT 
        p.persona_id,
        p.nombre,
        p.apellidos,
        p.email,
        p.direccion,
        p.telefono,
        f.DNI,
        f.fecha_nacimiento,
        f.genero
    FROM Persona p
    JOIN Fisica f ON p.persona_id = f.fisica_id
    WHERE f.DNI LIKE '%' + @textobuscar + '%';
END
GO
/****** Object:  StoredProcedure [dbo].[spBuscar_Persona_Nombre]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para buscar personas por nombre o apellido
CREATE PROCEDURE [dbo].[spBuscar_Persona_Nombre]
    @textobuscar VARCHAR(100)
AS
BEGIN
    SELECT 
        p.persona_id,
        p.nombre,
        p.apellidos,
        p.tipo_persona,
        p.email,
        p.direccion,
        p.telefono,
        CASE 
            WHEN p.tipo_persona = 'F' THEN f.DNI
            WHEN p.tipo_persona = 'J' THEN j.CIF
            ELSE NULL
        END AS documento
    FROM Persona p
    LEFT JOIN Fisica f ON p.persona_id = f.fisica_id AND p.tipo_persona = 'F'
    LEFT JOIN Juridica j ON p.persona_id = j.juridica_id AND p.tipo_persona = 'J'
    WHERE p.nombre LIKE '%' + @textobuscar + '%' 
       OR p.apellidos LIKE '%' + @textobuscar + '%'
    ORDER BY p.apellidos, p.nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[spEditar_Fisica]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para editar persona física
CREATE PROCEDURE [dbo].[spEditar_Fisica]
    @persona_id INT,
    @dni VARCHAR(20),
    @fecha_nacimiento DATE = NULL,
    @genero CHAR(1) = NULL
AS
BEGIN
    UPDATE Fisica SET
        DNI = @dni,
        fecha_nacimiento = @fecha_nacimiento,
        genero = @genero
    WHERE fisica_id = @persona_id;
    
    IF @@ROWCOUNT = 0
        RAISERROR('No se encontró la persona física para actualizar', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[spEditar_Juridica]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEditar_Juridica]
    @persona_id INT,
    @cif VARCHAR(20),
    @razon_social VARCHAR(100),
    @fecha_constitucion DATE = NULL,
    @actividad_principal VARCHAR(100) = NULL
AS
BEGIN
    UPDATE Juridica SET
        CIF = @cif,
        razon_social = @razon_social,
        fecha_constitucion = @fecha_constitucion,
        actividad_principal = @actividad_principal
    WHERE juridica_id = @persona_id;
    
    IF @@ROWCOUNT = 0
        RAISERROR('No se encontró la persona jurídica para actualizar', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[spEditar_Persona]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEditar_Persona]
    @persona_id INT,
    @nombre VARCHAR(50),
    @apellidos VARCHAR(50),
    @email VARCHAR(100),
    @direccion VARCHAR(200),
    @telefono VARCHAR(20),
    @foto VARBINARY(MAX) = NULL
AS
BEGIN
    UPDATE Persona SET
        nombre = @nombre,
        apellidos = @apellidos,
        email = @email,
        direccion = @direccion,
        telefono = @telefono,
        foto = @foto
    WHERE persona_id = @persona_id;
    
    IF @@ROWCOUNT = 0
        RAISERROR('No se encontró la persona para actualizar', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[spEliminar_Fisica]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para eliminar persona física
CREATE PROCEDURE [dbo].[spEliminar_Fisica]
    @persona_id INT
AS
BEGIN
    DELETE FROM Fisica WHERE fisica_id = @persona_id;
END
GO
/****** Object:  StoredProcedure [dbo].[spEliminar_Juridica]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminar_Juridica]
    @persona_id INT
AS
BEGIN
    DELETE FROM Juridica WHERE juridica_id = @persona_id;
END
GO
/****** Object:  StoredProcedure [dbo].[spEliminar_Persona]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para eliminar persona
CREATE PROCEDURE [dbo].[spEliminar_Persona]
    @persona_id INT
AS
BEGIN
    DELETE FROM Persona WHERE persona_id = @persona_id;
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertar_Animal]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDIMIENTOS PARA ANIMALES
CREATE PROCEDURE [dbo].[spInsertar_Animal]
    @persona_id INT,
    @tipo VARCHAR(50),
    @nombre VARCHAR(50),
    @edad INT = NULL,
    @raza VARCHAR(50) = NULL,
    @peso DECIMAL(5,2) = NULL,
    @foto VARBINARY(MAX) = NULL,
    @animal_id INT OUTPUT
AS
BEGIN
    INSERT INTO Animal (persona_id, tipo, nombre, edad, raza, peso, foto)
    VALUES (@persona_id, @tipo, @nombre, @edad, @raza, @peso, @foto);
    
    SET @animal_id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertar_Diagnostico]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDIMIENTOS PARA DIAGNÓSTICOS
CREATE PROCEDURE [dbo].[spInsertar_Diagnostico]
    @animal_id INT,
    @personal_id INT,
    @descripcion VARCHAR(MAX),
    @tratamiento VARCHAR(MAX) = NULL,
    @diagnostico_id INT OUTPUT
AS
BEGIN
    INSERT INTO Diagnostico (animal_id, personal_id, descripcion, tratamiento)
    VALUES (@animal_id, @personal_id, @descripcion, @tratamiento);
    
    SET @diagnostico_id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertar_Factura]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDIMIENTOS PARA FACTURACIÓN
CREATE PROCEDURE [dbo].[spInsertar_Factura]
    @persona_id INT,
    @factura_id INT OUTPUT
AS
BEGIN
    INSERT INTO Factura (persona_id)
    VALUES (@persona_id);
    
    SET @factura_id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertar_Fisica]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Luego crear el procedimiento
CREATE PROCEDURE [dbo].[spInsertar_Fisica]
    @nombre VARCHAR(50),
    @apellidos VARCHAR(50),
    @email VARCHAR(100),
    @direccion VARCHAR(200),
    @telefono VARCHAR(20),
    @foto VARBINARY(MAX) = NULL,
    @dni VARCHAR(20),
    @fecha_nacimiento DATE = NULL,
    @genero CHAR(1) = NULL,
    @persona_id INT OUTPUT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Insertar en tabla Persona
        INSERT INTO Persona (nombre, apellidos, tipo_persona, email, direccion, telefono, foto)
        VALUES (@nombre, @apellidos, 'F', @email, @direccion, @telefono, @foto);
        
        SET @persona_id = SCOPE_IDENTITY();
        
        -- Insertar en tabla Fisica
        INSERT INTO Fisica (fisica_id, DNI, fecha_nacimiento, genero)
        VALUES (@persona_id, @dni, @fecha_nacimiento, @genero);
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertar_Juridica]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para insertar persona jurídica
CREATE PROCEDURE [dbo].[spInsertar_Juridica]
    @nombre VARCHAR(50),
    @apellidos VARCHAR(50),
    @email VARCHAR(100),
    @direccion VARCHAR(200),
    @telefono VARCHAR(20),
    @foto VARBINARY(MAX) = NULL,
    @cif VARCHAR(20),
    @razon_social VARCHAR(100),
    @fecha_constitucion DATE = NULL,
    @actividad_principal VARCHAR(100) = NULL,
    @persona_id INT OUTPUT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Insertar en tabla Persona
        INSERT INTO Persona (nombre, apellidos, tipo_persona, email, direccion, telefono, foto)
        VALUES (@nombre, @apellidos, 'J', @email, @direccion, @telefono, @foto);
        
        SET @persona_id = SCOPE_IDENTITY();
        
        -- Insertar en tabla Juridica
        INSERT INTO Juridica (juridica_id, CIF, razon_social, fecha_constitucion, actividad_principal)
        VALUES (@persona_id, @cif, @razon_social, @fecha_constitucion, @actividad_principal);
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertar_Personal]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDIMIENTOS PARA PERSONAL
CREATE PROCEDURE [dbo].[spInsertar_Personal]
    @persona_id INT,
    @fecha_contratacion DATE,
    @tipo_personal VARCHAR(20),
    @especialidad VARCHAR(50) = NULL,
    @personal_id INT OUTPUT
AS
BEGIN
    INSERT INTO Personal (persona_id, fecha_contratacion, tipo_personal, especialidad)
    VALUES (@persona_id, @fecha_contratacion, @tipo_personal, @especialidad);
    
    SET @personal_id = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[spMostrar_Personas]    Script Date: 06/08/2025 22:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para mostrar todas las personas
CREATE PROCEDURE [dbo].[spMostrar_Personas]
AS
BEGIN
    SELECT 
        p.persona_id,
        p.nombre,
        p.apellidos,
        p.tipo_persona,
        p.email,
        p.direccion,
        p.telefono,
        p.foto,
        CASE 
            WHEN p.tipo_persona = 'F' THEN f.DNI
            WHEN p.tipo_persona = 'J' THEN j.CIF
            ELSE NULL
        END AS documento,
        CASE 
            WHEN p.tipo_persona = 'F' THEN 'Física'
            WHEN p.tipo_persona = 'J' THEN 'Jurídica'
            ELSE 'Desconocido'
        END AS tipo_persona_desc
    FROM Persona p
    LEFT JOIN Fisica f ON p.persona_id = f.fisica_id AND p.tipo_persona = 'F'
    LEFT JOIN Juridica j ON p.persona_id = j.juridica_id AND p.tipo_persona = 'J'
    ORDER BY p.apellidos, p.nombre;
END
GO
