USE [master]
GO
/****** Object:  Database [Bike_Store]    Script Date: 23/07/2025 11:01:28 ******/
CREATE DATABASE [Bike_Store]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bike_Store', FILENAME = N'C:\Users\59168\Bike_Store.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bike_Store_log', FILENAME = N'C:\Users\59168\Bike_Store_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bike_Store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bike_Store]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](255) NOT NULL,
	[last_name] [varchar](255) NOT NULL,
	[phone] [varchar](25) NULL,
	[email] [varchar](255) NOT NULL,
	[street] [varchar](255) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](25) NULL,
	[create_date] [date] NOT NULL,
	[imagen] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](200) NOT NULL,
	[model_year] [smallint] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[imagen] [image] NULL,
	[category_id] [int] NOT NULL,
	[create_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[clave] [varchar](250) NOT NULL,
	[email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_categoriesProducts] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_categoriesProducts]
GO
/****** Object:  StoredProcedure [dbo].[spbuscar_category_name]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Buscar categoría por nombre
CREATE PROC [dbo].[spbuscar_category_name]
    @textbuscar VARCHAR(50)
AS
BEGIN
    SELECT * FROM categories
    WHERE category_name LIKE '%' + @textbuscar + '%'
    ORDER BY category_name;
END;
GO
/****** Object:  StoredProcedure [dbo].[spbuscar_product_name]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Buscar producto por nombre
CREATE PROC [dbo].[spbuscar_product_name]
    @textbuscar VARCHAR(50)
AS
BEGIN
    SELECT p.product_id, p.product_name, p.model_year, p.price, p.imagen,
           p.category_id, c.category_name AS Category
    FROM products p
    INNER JOIN categories c ON p.category_id = c.category_id
    WHERE product_name LIKE '%' + @textbuscar + '%'
    ORDER BY p.product_name;
END;
GO
/****** Object:  StoredProcedure [dbo].[speditar_categories]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[speditar_categories]
@category_id int,
@category_name varchar(255)
as
update categories set category_name=@category_name
where category_id=@category_id
GO
/****** Object:  StoredProcedure [dbo].[speditar_products]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[speditar_products]
@product_id int,
@product_name varchar(200),
@model_year smallint,
@price decimal(10,2),
@imagen image,
@category_id int
as
update products set product_name=@product_name,model_year=@model_year,
price=@price,imagen=@imagen,category_id=@category_id
where product_id=@product_id
GO
/****** Object:  StoredProcedure [dbo].[speliminar_categories]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[speliminar_categories]
@category_id int
as
delete from categories
where category_id=@category_id
GO
/****** Object:  StoredProcedure [dbo].[speliminar_customers]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar cliente
CREATE PROCEDURE [dbo].[speliminar_customers]
    @customer_id INT
AS
BEGIN
    DELETE FROM customers WHERE customer_id = @customer_id
END
GO
/****** Object:  StoredProcedure [dbo].[speliminar_products]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[speliminar_products]
@product_id int
as
delete from products
where product_id=@product_id
GO
/****** Object:  StoredProcedure [dbo].[spinsertar_categories]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spinsertar_categories]
@category_id int output,
@category_name varchar(255)
as
insert into categories (category_name)
Values (@category_name)
GO
/****** Object:  StoredProcedure [dbo].[spinsertar_products]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8. PROCEDIMIENTOS ALMACENADOS

-- Insertar producto
CREATE PROC [dbo].[spinsertar_products]
    @product_id INT OUTPUT,
    @product_name VARCHAR(200),
    @model_year SMALLINT,
    @price DECIMAL(10,2),
    @imagen IMAGE,
    @category_id INT
AS
BEGIN
    INSERT INTO products (product_name, model_year, price, imagen, category_id)
    VALUES (@product_name, @model_year, @price, @imagen, @category_id);

    SET @product_id = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[spmostrar_categories]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spmostrar_categories]
as
select * from categories
order by category_id desc
GO
/****** Object:  StoredProcedure [dbo].[spmostrar_products]    Script Date: 23/07/2025 11:01:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spmostrar_products]
as
select p.product_id,p.product_name,p.model_year,p.price,p.imagen,
p.category_id,c.category_name as Category
from products p inner join categories c
on p.category_id = c.category_id
order by p.product_id desc
GO
USE [master]
GO
