USE [DBTiendaBlazor]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 07/07/2025 10:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[IdCarrito] [int] IDENTITY(1,1) NOT NULL,
	[IdPersona] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCarrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 07/07/2025 10:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[FechaCreacion] [datetime] NULL,
	[RutaImagen] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCarrito]    Script Date: 07/07/2025 10:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCarrito](
	[IdDetalleCarrito] [int] IDENTITY(1,1) NOT NULL,
	[IdCarrito] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NULL,
	[FechaAgregado] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCarrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 07/07/2025 10:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[Total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 07/07/2025 10:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion](
	[IdDireccion] [int] IDENTITY(1,1) NOT NULL,
	[IdPersona] [int] NOT NULL,
	[Calle] [nvarchar](100) NOT NULL,
	[NumeroExterior] [nvarchar](20) NOT NULL,
	[NumeroInterior] [nvarchar](20) NULL,
	[Colonia] [nvarchar](100) NOT NULL,
	[Ciudad] [nvarchar](100) NOT NULL,
	[Estado] [nvarchar](100) NOT NULL,
	[CodigoPostal] [nvarchar](10) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[EsPrincipal] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPedido]    Script Date: 07/07/2025 10:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPedido](
	[IdEstadoPedido] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoPago]    Script Date: 07/07/2025 10:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPago](
	[IdMetodoPago] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 07/07/2025 10:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Clave] [varchar](50) NULL,
	[Rol] [varchar](50) NULL,
	[FechaCreacion] [datetime] NULL,
	[Imagen] [nvarchar](max) NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [nvarchar](255) NULL,
	[Ciudad] [nvarchar](100) NULL,
	[CodigoPostal] [nvarchar](20) NULL,
	[Pais] [nvarchar](50) NULL,
	[Referencias] [nvarchar](500) NULL,
	[ImagenPerfil] [nvarchar](max) NULL,
	[FacialImage] [nvarchar](max) NULL,
	[UseFacialRecognition] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonaMetodoPago]    Script Date: 07/07/2025 10:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonaMetodoPago](
	[IdPersonaMetodoPago] [int] IDENTITY(1,1) NOT NULL,
	[IdPersona] [int] NOT NULL,
	[IdMetodoPago] [int] NOT NULL,
	[DatosPago] [nvarchar](max) NULL,
	[EsPrincipal] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersonaMetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 07/07/2025 10:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NULL,
	[Descripcion] [varchar](1000) NULL,
	[IdCategoria] [int] NULL,
	[Precio] [decimal](10, 2) NULL,
	[PrecioOferta] [decimal](10, 2) NULL,
	[Cantidad] [int] NULL,
	[Imagen] [varchar](max) NULL,
	[FechaCreacion] [datetime] NULL,
	[Modelo] [nvarchar](255) NULL,
	[Producto] [nvarchar](255) NULL,
	[Etiqueta] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resena]    Script Date: 07/07/2025 10:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resena](
	[IdResena] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdPersona] [int] NOT NULL,
	[Calificacion] [tinyint] NOT NULL,
	[Comentario] [nvarchar](500) NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdResena] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 07/07/2025 10:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdPersona] [int] NULL,
	[Total] [decimal](10, 2) NULL,
	[FechaCreacion] [datetime] NULL,
	[IdEstadoPedido] [int] NULL,
	[IdDireccion] [int] NULL,
	[IdPersonaMetodoPago] [int] NULL,
	[NumeroSeguimiento] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carrito] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DetalleCarrito] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[DetalleCarrito] ADD  DEFAULT (getdate()) FOR [FechaAgregado]
GO
ALTER TABLE [dbo].[Direccion] ADD  DEFAULT ((0)) FOR [EsPrincipal]
GO
ALTER TABLE [dbo].[Direccion] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[MetodoPago] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Persona] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Persona] ADD  DEFAULT ((0)) FOR [UseFacialRecognition]
GO
ALTER TABLE [dbo].[PersonaMetodoPago] ADD  DEFAULT ((0)) FOR [EsPrincipal]
GO
ALTER TABLE [dbo].[PersonaMetodoPago] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Resena] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Persona] ([IdPersona])
GO
ALTER TABLE [dbo].[DetalleCarrito]  WITH CHECK ADD FOREIGN KEY([IdCarrito])
REFERENCES [dbo].[Carrito] ([IdCarrito])
GO
ALTER TABLE [dbo].[DetalleCarrito]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH NOCHECK ADD  CONSTRAINT [FK__DetalleVe__IdPro__45F365D3] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta] NOCHECK CONSTRAINT [FK__DetalleVe__IdPro__45F365D3]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH NOCHECK ADD  CONSTRAINT [FK__DetalleVe__IdVen__44FF419A] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Venta] ([IdVenta])
GO
ALTER TABLE [dbo].[DetalleVenta] NOCHECK CONSTRAINT [FK__DetalleVe__IdVen__44FF419A]
GO
ALTER TABLE [dbo].[Direccion]  WITH NOCHECK ADD  CONSTRAINT [FK__Direccion__IdPer__00200768] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Persona] ([IdPersona])
GO
ALTER TABLE [dbo].[Direccion] NOCHECK CONSTRAINT [FK__Direccion__IdPer__00200768]
GO
ALTER TABLE [dbo].[PersonaMetodoPago]  WITH NOCHECK ADD  CONSTRAINT [FK__PersonaMe__IdMet__08B54D69] FOREIGN KEY([IdMetodoPago])
REFERENCES [dbo].[MetodoPago] ([IdMetodoPago])
GO
ALTER TABLE [dbo].[PersonaMetodoPago] NOCHECK CONSTRAINT [FK__PersonaMe__IdMet__08B54D69]
GO
ALTER TABLE [dbo].[PersonaMetodoPago]  WITH NOCHECK ADD  CONSTRAINT [FK__PersonaMe__IdPer__07C12930] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Persona] ([IdPersona])
GO
ALTER TABLE [dbo].[PersonaMetodoPago] NOCHECK CONSTRAINT [FK__PersonaMe__IdPer__07C12930]
GO
ALTER TABLE [dbo].[Producto]  WITH NOCHECK ADD  CONSTRAINT [FK__Producto__IdCate__3A81B327] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Producto] NOCHECK CONSTRAINT [FK__Producto__IdCate__3A81B327]
GO
ALTER TABLE [dbo].[Resena]  WITH NOCHECK ADD  CONSTRAINT [FK__Resena__IdPerson__7B5B524B] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Persona] ([IdPersona])
GO
ALTER TABLE [dbo].[Resena] NOCHECK CONSTRAINT [FK__Resena__IdPerson__7B5B524B]
GO
ALTER TABLE [dbo].[Resena]  WITH NOCHECK ADD  CONSTRAINT [FK__Resena__IdProduc__7A672E12] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Resena] NOCHECK CONSTRAINT [FK__Resena__IdProduc__7A672E12]
GO
ALTER TABLE [dbo].[Venta]  WITH NOCHECK ADD  CONSTRAINT [FK__Venta__IdDirecci__0C85DE4D] FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[Direccion] ([IdDireccion])
GO
ALTER TABLE [dbo].[Venta] NOCHECK CONSTRAINT [FK__Venta__IdDirecci__0C85DE4D]
GO
ALTER TABLE [dbo].[Venta]  WITH NOCHECK ADD  CONSTRAINT [FK__Venta__IdEstadoP__0B91BA14] FOREIGN KEY([IdEstadoPedido])
REFERENCES [dbo].[EstadoPedido] ([IdEstadoPedido])
GO
ALTER TABLE [dbo].[Venta] NOCHECK CONSTRAINT [FK__Venta__IdEstadoP__0B91BA14]
GO
ALTER TABLE [dbo].[Venta]  WITH NOCHECK ADD  CONSTRAINT [FK__Venta__IdPersona__0D7A0286] FOREIGN KEY([IdPersonaMetodoPago])
REFERENCES [dbo].[PersonaMetodoPago] ([IdPersonaMetodoPago])
GO
ALTER TABLE [dbo].[Venta] NOCHECK CONSTRAINT [FK__Venta__IdPersona__0D7A0286]
GO
ALTER TABLE [dbo].[Venta]  WITH NOCHECK ADD  CONSTRAINT [FK__Venta__IdPersona__412EB0B6] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Persona] ([IdPersona])
GO
ALTER TABLE [dbo].[Venta] NOCHECK CONSTRAINT [FK__Venta__IdPersona__412EB0B6]
GO
ALTER TABLE [dbo].[Venta]  WITH NOCHECK ADD  CONSTRAINT [FK_Venta_Direccion] FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[Direccion] ([IdDireccion])
GO
ALTER TABLE [dbo].[Venta] NOCHECK CONSTRAINT [FK_Venta_Direccion]
GO
ALTER TABLE [dbo].[Venta]  WITH NOCHECK ADD  CONSTRAINT [FK_Venta_EstadoPedido] FOREIGN KEY([IdEstadoPedido])
REFERENCES [dbo].[EstadoPedido] ([IdEstadoPedido])
GO
ALTER TABLE [dbo].[Venta] NOCHECK CONSTRAINT [FK_Venta_EstadoPedido]
GO
ALTER TABLE [dbo].[Venta]  WITH NOCHECK ADD  CONSTRAINT [FK_Venta_PersonaMetodoPago] FOREIGN KEY([IdPersonaMetodoPago])
REFERENCES [dbo].[PersonaMetodoPago] ([IdPersonaMetodoPago])
GO
ALTER TABLE [dbo].[Venta] NOCHECK CONSTRAINT [FK_Venta_PersonaMetodoPago]
GO
