<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <connectionStrings>
        <add name="SistemaVeterinario" 
             connectionString="server=(localdb)\MSSQLLocalDB;database=SistemaVeterinario;integrated security=true;TrustServerCertificate=true;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <appSettings>
        <!-- Configuraciones de la aplicación -->
        <add key="NombreAplicacion" value="Sistema ZoofiPets" />
        <add key="Version" value="1.0.0" />
        <add key="TimeoutConexion" value="30" />
        <add key="LogErrores" value="true" />
    </appSettings>
</configuration>