USE [Bike_Store]
GO
/****** Object:  StoredProcedure [dbo].[spinsertar_categories]    Script Date: 18/7/2025 13:02:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[spinsertar_categories]
@category_id int output,
@category_name varchar(255)

as
insert into categories (category_name)
Values (@category_name)
