USE [Bike_Store]
GO
/****** Object:  StoredProcedure [dbo].[spreporte_factura]    Script Date: 30/7/2025 12:22:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[spreporte_factura]
@order_id int
AS
select o.order_id, u.usuario_name as users, 
(c.first_name+' '+c.last_name) as Cliente, c.street,c.phone,c.state,c.city,
o.order_date,p.product_name,p.model_year, oi.quantity, oi.price, 
oi.discount, (oi.quantity * oi.price - oi.discount) as Subtotal
from order_items oi inner join orders o 
on oi.order_id = o.order_id left join customers c
on o.customer_id = c.customer_id left join users u
on o.usuario_id = u.usuario_id inner join products p
on oi.product_id = p.product_id left join categories ca
on p.category_id = ca.category_id 
where o.order_id = @order_id 
go
