RewriteEngine On
RewriteBase /TECH-HOME/


# Manejo de errores
ErrorDocument 404 /work/404

# Bloquear acceso directo a archivos .php y redirigir a 404
RewriteCond %{THE_REQUEST} \.php[\s?] [NC]
RewriteRule ^ /work/404 [R=301,L]

# Redirigir todas las solicitudes a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]